body {
  font-size: 16px;
}

td {
  padding: 2px 6px;
}

tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.timer__container {
  max-width: 500px;
  margin: 32px auto;
}

.timer__time {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
}

.timer__wrap {
  text-align: center;
}

.timer__current-lap {
  display: inline-block;
  margin-bottom: 16px;
}

.timer__current-lap-time {
  padding-right: 10px;
  text-align: right;
}

.timer__current-lap-name {
  padding-left: 10px;
  border: none;
}

.timer__controls {
  margin-bottom: 16px;
  text-align: center;
}

.icon__start svg {
  width: 16px;
  height: 16px;
}

.icon__pause svg {
  width: 16px;
  height: 16px;
}

.icon__reset svg {
  width: 16px;
  height: 16px;
}

.timer__controls button:first-child {
  margin-right: 10px;
}

.timer__laps {
  margin: 0 auto;
  text-align: left;
}

.timer__total {
  font-weight: bold;
}